django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-decouple
django-cors-headers
django-filter
django-redis
drf-yasg
whitenoise
phonenumbers
django-phonenumber-field
psycopg2-binary
pillow
qrcode
celery
redis
boto3
django-storages
stripe
firebase-admin
pandas
openpyxl
gunicorn
python-json-logger
django-request-id
django-prometheus
